@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

h2 {
  font-family: "Jua", sans-serif;
  font-size: 60px;
}

h4 {
  font-family: "Nanum Gothic Coding", monospace;
}

.rigth-msg {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 85%;
}

.right-msg-form {
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: right;
  background-color: #ffea00;
  border-radius: 8px;
}

.right-msg img {
  float: right;
}

.right-msg-time {
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
}

.right-msg-p {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 7px;
  font-size: 17px;
  font-family: "Nanum Gothic", sans-serif;
}

.left-msg {
  display: flex;
  width: 85%;
}

.left-msg-form {
  margin-top: 30px;
  margin-left: 10px;
  background-color: #e6cda7;
  border-radius: 8px;
  margin-bottom: 30px;
}

.left-msg-time {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 7px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
}

.left-msg-p {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 7px;
  font-size: 17px;
  font-family: "Nanum Gothic", sans-serif;
}

.left-img-div {
  margin-top: 28px;
}

.row-widget.stButton {
  text-align: right;
}

.css-1x8cf1d {
  font-size: 18;
  width: 100px;
  height: 40px;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  line-height: 1.6;
  user-select: none;
  background-color: white;
  color: black;
  border: 1px solid rgba(49, 51, 63, 0.2);
}

.user-explain {
  font-size: 18px;
  font-family: "Nanum Gothic", sans-serif;
}

input {
  border: none;
  font-family: "Nanum Gothic", sans-serif;
}

.css-81oif8.effi0qh3 {
  margin-top: -30px;
}

.intro-school {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.explain-school {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
}

.explain-box {
  width: 90%;
}

button {
  width: 100px;
}
